  <header class="header">
    <nav class="nav" id="nav">
      <ul class="menu">
        <li class="categoria">
          Alimentación
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/aceite">Aceites</a></li>
            <li class="subcategoria"><a routerLink="/arroces">Arroces</a></li>
            <li class="subcategoria"><a routerLink="/conservas">Conservas</a></li>
            <li class="subcategoria"><a routerLink="/legumbres">Legumbres</a></li>
            <li class="subcategoria"><a routerLink="/pasta">Pasta</a></li>
            <li class="subcategoria"><a routerLink="/salsas">Salsas</a></li>
          </ul>
        </li>
        <li class="categoria">
          Bebidas
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/cervezas">Cervezas</a></li>
            <li class="subcategoria"><a routerLink="/licores">Licores</a></li>
            <li class="subcategoria"><a routerLink="/refrescos">Resfrecos</a></li>
            <li class="subcategoria"><a routerLink="/vinos">Vinos</a></li>
            <li class="subcategoria"><a routerLink="/zumos">Zumos</a></li>
          </ul>
        </li>
        <li class="categoria">
          Charqutería
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/carne">Carne</a></li>
            <li class="subcategoria"><a routerLink="/embutidos">Embutidos</a></li>
          </ul>
        </li>
        <li class="categoria">
          Congelados
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/comidas-preparadas">Comidas Preparadas</a></li>
            <li class="subcategoria"><a routerLink="/helados">Helados</a></li>
            <li class="subcategoria"><a routerLink="/pescados-mariscos">Pescado y Marisco</a></li>
            <li class="subcategoria"><a routerLink="/verduras-congeladas">Verduras</a></li>
          </ul>
        </li>
        <li class="categoria">
          Droguería
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/belleza">Belleza</a></li>
            <li class="subcategoria"><a routerLink="/higiene">Higiene</a></li>
            <li class="subcategoria"><a routerLink="/hogar">Hogar</a></li>
          </ul>
        </li>
        <li class="categoria">
          Frutería
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/frutas">Frutas</a></li>
            <li class="subcategoria"><a routerLink="/verduras">Verduras</a></li>
          </ul>
        </li>
        <li class="categoria">
          Infantil
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/comida-bebe">Potitos</a></li>
            <li class="subcategoria"><a routerLink="/leche-infantil">Leche</a></li>
            <li class="subcategoria"><a routerLink="/panales-toallitas">Pañales y Toallitas</a></li>
          </ul>
        </li>
        <li class="categoria">
          Lácteos
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/leche">Leche</a></li>
            <li class="subcategoria"><a routerLink="/quesos">Quesos</a></li>
            <li class="subcategoria"><a routerLink="/vitrina">Vitrina</a></li>
          </ul>
        </li>
        <li class="categoria">
          Panadería
          <ul class="desplegable">
            <li class="subcategoria"><a routerLink="/bolleria">Bollería</a></li>
            <li class="subcategoria"><a routerLink="/pan">Pan Fresco</a></li>
            <li class="subcategoria"><a routerLink="/tartas">Dulces y Tartas</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header> 
